@font-face {
  font-family: clock;
  src: url(./assets/digital7.ttf);
}

:root {
  color: rgba(255, 255, 255, 0.64);
  background-color: #111;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

#app {
  width: 100%;
  text-align: center;
}
